 
@{
    Layout = null;
}
 
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 style="color:#1ab394" class="modal-title">Panel Informativo</h4>
</div>
 
<div class="modal-body">
    <div class="row">

        <div align="center" class="col-sm-12 ">

            <a align="center" href="#" class="pull-left">
                <img align="center" src="@Url.Action("ConvertirImagen", "Personas", new { PersonaId =  0})" height="100%" width="100%" />
            </a>
        </div>

    </div>
</div>
