
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <br> 
    </div>

    <div class="col-lg-2">
    </div>
</div>

<div align="center">


    <h1 id="TituloStiker"></h1>
    <br />
    <iframe frameborder="0" title="Stiker" width="1100" height="600"></iframe>
    <br /> <br /> <br /> <br /> <br /> <br /> <br />
    <script src="~/Js_Utilidades/Certificdo.js"></script>
</div> 